<div id="badges_table" class="message">
    <div id="badge_indication_expression"></div>
    <div id="badge_indication_colloquial"></div>
    <div id="badge_indication_use_subjunctive"></div>
    <div id="badge_indication_2_pieces"></div>
    <div id="badge_indication_3_pieces"></div>
    <div id="badge_indication_4_pieces" class="badge_indication_3_plus_pieces"></div>
    <div id="badge_indication_5_pieces" class="badge_indication_3_plus_pieces"></div>
    <div id="badge_indication_2_genders"></div>
    <div id="badge_indication_singular_plural"></div>
    <div id="badge_indication_literary"></div>
    <div id="badge_indication_gerund" class="badge_indication_gerund"></div>
    <div id="badge_clarification_gerund" class="badge_indication_gerund"></div>
    <div id="badge_clarification_adjective"></div>
    <div id="badge_clarification_adverb"></div>
    <div id="badge_clarification_verb"></div>
    <div id="badge_clarification_number"></div>
    <div id="badge_clarification_formal"></div>
    <div id="badge_clarification_informal"></div>
    <div id="badge_clarification_expression"></div>
    <div id="badge_verified"></div>
</div>